# Designing a Database Schema for Assessment Analytics Tool(AAT) Project

The notebook below contains a lot of my though process and experimenting for this 


## Table of Contents
* [Version 3.0](#version3)
    * [Imports & Exports](#v3_1)
        * [Imports](#v3_1_1)
        * [Exports](#v3_1_2)
    * [Creating Fake Data](#v3_2)
        * [Roles Class](#v3_2_1)
        * [Staff & Students](#v3_2_2)
        * [Classrooms](#v3_2_3)
    * [Testing Data](#v3_3)
* [Version 2.0](#version2)
    * [Imports & Exports](#v2_1)
        * [Imports](#v2_1_1)
        * [Exports](#v2_1_2)
    * [Creating Fake Data](#v2_2)
        * [Years, Schools & Grades](#v2_2_1)
        * [Staff](#v2_2_2)
        * [Students](#v2_2_3)
    * [Assessment Info](#v2_3)

# Version 3.0 <a class="anchor" id="version3"></a>
 
<strong>Creating an MVP: Refocusing on a smaller data set and basic functionality.</strong>
<i><p>Data needed:
<ul><li>List of students (name, grade)</li>
<li>Users/teachers</li>
<li>Info for one Assessment (standards, etc.)</li>
<li>Student scores</li>
</ul>
</p></i>

## Imports & Exports <a id="v3_1"></a>

### Imports<a id="v3_1_1"></a>

In [77]:
import numpy as np
import pandas as pd
import re
import json
from faker import Faker
fake = Faker()

### Exports<a id="v3_1_2"></a>

In [ ]:
#staff names,email and id numbers
staff = staff_df.to_csv('staff.csv')

#classroom info: school, school year, grade_level, teacher (later-cohort/student group #?)
classrooms = staff_classes_df.to_csv('classrooms.csv')

#student names, email and id numbers
students = students_df.to_csv('students.csv')

#association table: classroom_id, student_id (group# id?)
student_classes = student_classes_df.to_csv('student_classes.csv')

#assessment name, assessment component name, subject, norms (based on grade_level and period)
assessment_standards = assessment_standards_df.to_csv('assessment_standards.csv')

# #student_class_id, assessment component, score
# assessment_scores = assessment_scores_df.to_csv('assessment_scores.csv')

staff
classrooms
students
student_classes
assessment_standards
assessment_scores

## Creating Fake Data <a id="v3_2"></a>
### Roles Class <a id="v3_2_1"></a>

In [ ]:
class Permission: #Permission Constants - BITWISE
    '''Varying permission levels to be assigned individually or to Roles'''
    PUBLIC = 1    # 0b00001
    STUDENT = 2   # 0b00010
    CLASS = 4     # 0b00100
    GRADE = 8     # 0b01000
    SCHOOL = 16   # 0b10000
    DISTRICT = 32 # 0b100000
    YOY = 64      # 0b1000000
    
    def insert_roles():
        roles = {
            'Public':[Permission.PUBLIC],
            'Student':[Permission.STUDENT],
            'Teacher':[Permission.STUDENT, Permission.CLASS],
            'Principal':[Permission.STUDENT, Permission.CLASS, Permission.GRADE, Permission.YOY],
            'Admin':[Permission.STUDENT, Permission.CLASS, Permission.GRADE, Permission.DISTRICT, Permission.YOY]
        }
        
        for r in roles:
            roles = role_name


Permission.insert_roles()

### Staff & Students <a id="v3_2_2"></a>

In [25]:
def make_emails(person_name):
    '''Create email using first initial & last name of person's full name'''
    p= person_name.split(" ")
    first_initial = p[0][0]
    last_name = p[1]
    email = (f'{first_initial}{last_name}@simpleschooldistrict.org').lower()
    return email

def make_people(num,role):
    '''Generate fake student or staff data'''
    fake_names = [] #list of fake student names
    for i in range(num):
        name = f'{fake.first_name()} {fake.last_name()}'
        fake_names.append(name)
    if role == 0:
        fake_people = [{'id': np.random.choice(np.arange(10000,20000),replace=False),
            'name':(fake_names[x]),
            'email': make_emails(fake_names[x]),
            'role': role}for x in range(num)]
    else:
        fake_people = [{'id': np.random.choice(np.arange(1100,2000),replace=False),
            'name':(fake_names[x]),
            'email': make_emails(fake_names[x]),
            'role': role}for x in range(num)]
    return fake_people

In [ ]:
#creating classes pk-5 for 2021 school year
x = 0
student_classes = []
staff_classes = []
student_info = []
while x <= 5:
    for s in staff:
        #make a roster of students..r_1 = make_people(np.random.randint(8,15),0)
        student_info.append(r_1)
        
    
        #create a classroom x=grade_level
        staff_class = make_fake_class(2021, 'Simple Pimple Academy', x, s['id'])

        #add list of classes to staff dict (this might be screwing me up)
#         s['classes'] = [staff_class['class_id']]
        
        #unique ID for student/class combo
        student_classes.append([{
            'id': (f"{r['id']}-{x}"),
            'student_id': r['id'],
            'class_id': staff_class['class_id']
        }for r in r_1])
        
        staff_classes.append(staff_class)
        x += 1

## later I would have some functionality to bump students up a grade       

student_classes
staff_classes

[{'class_id': '21-SPA-0',
  'school_year': 2021,
  'school_name': 'Simple Pimple Academy',
  'grade_level': 0,
  'teacher_id': 1557},
 {'class_id': '21-SPA-1',
  'school_year': 2021,
  'school_name': 'Simple Pimple Academy',
  'grade_level': 1,
  'teacher_id': 1194},
 {'class_id': '21-SPA-2',
  'school_year': 2021,
  'school_name': 'Simple Pimple Academy',
  'grade_level': 2,
  'teacher_id': 1663},
 {'class_id': '21-SPA-3',
  'school_year': 2021,
  'school_name': 'Simple Pimple Academy',
  'grade_level': 3,
  'teacher_id': 1574},
 {'class_id': '21-SPA-4',
  'school_year': 2021,
  'school_name': 'Simple Pimple Academy',
  'grade_level': 4,
  'teacher_id': 1500},
 {'class_id': '21-SPA-5',
  'school_year': 2021,
  'school_name': 'Simple Pimple Academy',
  'grade_level': 5,
  'teacher_id': 1139}]

In [ ]:
#making a small staff
staff = make_people(5, 1)

#adding myself as a staff member!
staff.append({'id': 1139,
        'name':'Liz Francese',
        'email':make_emails('Liz Francese'),
        'role':1
    })

staff_df = pd.DataFrame(staff)
staff_df

### Classrooms<a id="v3_2_3"></a>

In [11]:
def make_fake_class(roster, year, school, grade_level, teacher_id):
    '''Provide data needed to make a classroom'''
    #is this an appropriate place for **kwargs? too specific?
    year_id = year-2000
    school_id = (f"{school.split(' ')[0][0]}{school.split(' ')[1][0]}{school.split(' ')[2][0]}") #taking initials-could probably just use regex
    my_class = {
        'class_id':(f'{year_id}-{school_id}-{grade_level}'),
        'school_year': year,
        'school_name': school,
        'grade_level': grade_level,
        'teacher_id': teacher_id,
#         'student_id': [sub['id'] for sub in roster]
    }
    return my_class

In [206]:
rows=[]
for student_class in student_classes:
    for sc in student_class:
        student_class_id = sc['id']
        student_id = sc['student_id']
        classroom_id = sc['class_id']
        rows.append([student_class_id,student_id,classroom_id])

df = pd.DataFrame(rows)

student_classes_df = df.rename(columns={0:'student_class_id', 1:'student_id',2:'classroom_id'})

student_classes_df

   student_class_id  student_id classroom_id
0           14399-0       14399     21-SPA-0
1           19389-0       19389     21-SPA-0
2           12758-0       12758     21-SPA-0
3           18585-0       18585     21-SPA-0
4           13161-0       13161     21-SPA-0
..              ...         ...          ...
62          19270-5       19270     21-SPA-5
63          15481-5       15481     21-SPA-5
64          10785-5       10785     21-SPA-5
65          11093-5       11093     21-SPA-5
66          19695-5       19695     21-SPA-5

[67 rows x 3 columns]

In [217]:
#forgot to make the students table :D
rows=[]
for data in student_info:
    for d in data:
        data_row = d['id']
        name = d['name']
        email = d['email']
        role = d['role']
        rows.append([data_row, name, email, role])

students_df = pd.DataFrame(rows)
students_df = students_df.rename(columns={0:'student_id',1:'student_name',2:'student_email',3:'role'}
)
students_df

   class_id  school_year            school_name  grade_level  teacher_id
0  21-SPA-0         2021  Simple Pimple Academy            0        1911
1  21-SPA-1         2021  Simple Pimple Academy            1        1662
2  21-SPA-2         2021  Simple Pimple Academy            2        1857
3  21-SPA-3         2021  Simple Pimple Academy            3        1609
4  21-SPA-4         2021  Simple Pimple Academy            4        1293
5  21-SPA-5         2021  Simple Pimple Academy            5        1139

## Testing Data<a id="v3_3"></a>
<p>Vermont and several other US states are moving towards model in K-12 education called Multi-Tiered Systems of Support or MTSS. The model is designed with the goal of more accurately and efficiently addressing student need. Need is determined by comiling state and other assessments for literacy and math (and sometimes social emotional assessments) and placing the student scores into one of three 'tiers'. Tiers represent the 1-10th, 11-50th & 51-99th percentile of scores, either on a nationally normed scale or normed locally, within the classroom. Supports for students are then targeted based on subject matter and dosed based on tier. Diagnostics provide more specific insight for educational supports and aid in more fluid support dosing. The approach is seen as more equitable and less stigmatizing than historical approaches and is designed to help teachers meet more student needs within the core classroom setting.</p>
<p>Originally I had included state assessment data in here, which uses national norms that change based on the grade level and period (fall, winter, spring). To get our MVP rolling, however, I'm instead using just two diagnostics-one literacy and one math- that are required for all students to take in the XXXX school district.</p>

In [208]:
#importing assessments and diagnostics data
assessment_standards_df = pd.read_csv('test_data.csv')

#cleaning data
assessment_standards_df = assessment_standards_df.drop(columns=['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'])

subjects = {'Predictive Assessment of Reading':'literacy', 'Primary Number & Operations Assessment':'math'}

assessment_standards_df['subject'] = assessment_standards_df['assessment_name'].map(subjects)
assessment_standards_df = assessment_standards_df.iloc[:,[7,2,4,3,6,5,0,1]]

#dropping the tiers from data set <<< If I decide to norm locally, as a calculation on the student score table
assessment_df = assessment_standards_df.iloc[:,[7,2,1,3]]
assessment_df = assessment_df.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=True)

#without norms
assessment_df.head()


#with norms (could of course be another table with just component ID)
assessment_standards_df.head()

,subject,component_id,component_name,assessment_name,grade_level,period,rank_name,rank_score
0,literacy,PARLW,Letter Word Calling,Predictive Assessment of Reading,0,1,Tier I,80
1,literacy,PARLW,Letter Word Calling,Predictive Assessment of Reading,0,3,Tier I,80
2,literacy,PARLW,Letter Word Calling,Predictive Assessment of Reading,0,2,Tier I,80
3,literacy,PARLW,Letter Word Calling,Predictive Assessment of Reading,1,1,Tier I,80
4,literacy,PARLW,Letter Word Calling,Predictive Assessment of Reading,1,3,Tier I,80

In [153]:
text = pd.Series(assessment_standards_df.component_id).unique()

text

array(['PARLW', 'PARPA', 'PARPN', 'PARRN', 'PARTSS', 'PNOABS', 'PNOAEM',
       'PNOAEQ', 'PNOAFS', 'PNOAGPV', 'PNOAOP', 'PNOASN'], dtype=object)

In [215]:
#Fake PAR (Predictive Assessment of Reading) data

#PAR is 80-130 across the board

par_rng = np.random.default_rng()
par_rng.choice(175,15) 

# student_class_id  |   period  |   component_id    |   student_score 


#PAR Component List
par_components = ['PARLW', 'PARPA', 'PARPN', 'PARRN', 'PARTSS']
pnoa_components = {'PNOAEM':20, 'PNOAFS':20, 'PNOAGPV':80, 'PNOAOP':20, 'PNOASN':40}

#make data for one season (rest will be in Flask)
score_data={}
x=0

#get student_classes_id
student_class_ids = pd.Series(student_classes_df['student_class_id'])


for class_id in student_class_ids:
    for item in assessment_standards_df:
        if item[4] == class_id[0][-1]:
                print ('Match\n' + item[4])


# score_df = pd.DataFrame(score_data)
# score_df
# assessment_scores_df = score_df.transpose()
# assessment_scores_df

# Version 2.0 <a id="v3"></a>

<p>After quitting my job, I decided to make fake data, rather than import, clean and work with ths (massive, confusing, inconsistent) data I had from the school district. I was still, however, modelling the data after our school district structure and wasn't quite grasping the idea of incremental development. I still had it in my mind, especially in regards to the database, that I had to have every element laid out perfectly and that adding data points or complexity later would be "going backwards".</p>

## Imports & Exports <a id="v2_1"></a>
### Imports <a id="v2_1_1"></a>

In [2]:
pip install Faker
pip install pandas

SyntaxError: invalid syntax (219037983.py, line 1)

In [3]:
import pandas as pd
import numpy as np
import random
import re
from faker import Faker
fake = Faker()

### Exports <a id="v2_1_2"></a>

In [ ]:
#original database had 17 tables

# classrooms_df = class_teacher_names.to_csv('classrooms.csv')
# rosters_df = all_rosters_df.to_csv('rosters.csv')
# staff_df = staff_df.to_csv('staff.csv')
# students_df = students_df.to_csv('students.csv')
# assements_df = assessments_df.to_csv('assessments.csv') #lol spelling error
# scores_df = scores_df.to_csv('scores.csv')


#other tables:
#users
#roles & permissions

In [ ]:
print (class_teacher_names.columns)
print (all_rosters_df.columns)
print (staff_df.columns)
print (students_df.columns)
print (assessments_df.columns)
print (scores_df.columns)

## Creating Fake Data <a id="v2_2"></a>
### Years, Schools & Grades <a id="v2_2_1"></a>
Original data set held years, schools and grades in different tables. Creating a new fake data set to hold all info in one table, making it (hopefully) easier to bring into Flask and manipulate.</div>

In [99]:
#6 elementary schools, one middle school
school_names = ['Brown Bear Middle School','Cherry Tree Elementary School','Mulberry Elementary School','Sunny Elementary School','Dunns Corners Elementary School',
                'State Street Elementary School','Bene Gesserit School']

#years of data
years = [2021,2022,2023,2024]
#grades Pre-k-8
grades = [i for i in range (9)]

cohorts = [i for i in range (12)]

#new lists to form tuples
years_2 = []
schools_2 = []
grades_2 = []
cohorts_2 = []

#create entry for each year/school/grade level
for year in years:
    for grade in grades:
        if cohorts:
            cohorts_2.append(cohorts.pop())
        for school in school_names:
            years_2.append(year)
            schools_2.append(school)
            grades_2.append(grade)

tuples = list(zip(years_2,schools_2,grades_2,cohorts_2))
            
def create_class_ids(school_tuples):
    '''create unique identifier for classrooms'''
    class_ids = []
    for x in school_tuples:
        yr_id = x[0]-2000
        grade_id=x[-1]
        school_id=x[1][:3]
        class_ids.append(f'{yr_id}-{grade_id}-{school_id}')
    return class_ids

class_ids = create_class_ids(tuples)
tuple_with_id = list(zip(years_2,schools_2,grades_2, class_ids))
school_classes = pd.DataFrame(tuple_with_id)
school_data = school_classes.rename(columns={0:'school_year', 1:'school_name',2:'grade_level',3:'class_id'})
school_data

school_update = school_data.drop(school_data[(school_data['school_name']=='Brown Bear Middle School') & (
    school_data['grade_level']<=5)].index)

school_update_2 = school_update.drop(school_update[(school_update['school_name']!='Brown Bear Middle School') & (
    school_update['grade_level']>=6)].index) 
school_update_2.head()
school_update_2

[(2021, 'Brown Bear Middle School', 0, 11),
 (2021, 'Cherry Tree Elementary School', 0, 10),
 (2021, 'Mulberry Elementary School', 0, 9),
 (2021, 'Sunny Elementary School', 0, 8),
 (2021, 'Dunns Corners Elementary School', 0, 7),
 (2021, 'State Street Elementary School', 0, 6),
 (2021, 'Bene Gesserit School', 0, 5),
 (2021, 'Brown Bear Middle School', 1, 4),
 (2021, 'Cherry Tree Elementary School', 1, 3),
 (2021, 'Mulberry Elementary School', 1, 2),
 (2021, 'Sunny Elementary School', 1, 1),
 (2021, 'Dunns Corners Elementary School', 1, 0)]

### Staff <a id="v2_2_1"></a>

In [5]:
# #in case of too many iterations
fake.unique.clear()

In [52]:
def make_staff(num):
    '''Make list of fake staff'''
    school_list = school_names
    grade_levels = list(range(9))
    
    #assign roles to staff members for permissions access in app
    role = ['teacher','principal','admin']
    #staff ids
    fake_staff = [{'staff_id': x+1000,
        'staff_first':(fake.unique.first_name()),
        'staff_last':(fake.unique.last_name()),
        'grade_level':np.random.choice(grade_levels),
        'school_name': np.random.choice(school_list)
    } for x in range(num)]

    return fake_staff
staff_df = pd.DataFrame(make_staff(70))

staff_id_list = [i for i in staff_df.staff_id]
staff_id_list

year_one_cohorts = list(range(9))

staff_df

,staff_id,staff_first,staff_last,grade_level,school_name
0,1000,Cathy,Dominguez,4,Bene Gesserit School
1,1001,Olivia,Holt,4,Sunny Elementary School
2,1002,Marc,Mcintosh,4,Cherry Tree Elementary School
3,1003,Ricky,Mcgee,2,Mulberry Elementary School
4,1004,Gavin,Holloway,1,Cherry Tree Elementary School
...,...,...,...,...,...
65,1065,Sheena,Clayton,8,Mulberry Elementary School
66,1066,Kaitlin,Shaffer,7,Dunns Corners Elementary School
67,1067,Whitney,Chapman,6,Bene Gesserit School
68,1068,Shaun,Mejia,1,Dunns Corners Elementary School
69,1069,Dean,Michael,1,Sunny Elementary School

In [75]:
#creating an association table of class_ids and teacher_ids
school_update_2

new_df = school_update_2.merge(staff_df, how='inner', on=['school_name','grade_level'])

teacher_class_table = new_df[['class_id','staff_id']]
teacher_class_table.to_csv('teacher_class_association.csv')
# teacher_class_table

# school_data = school_data.rename(columns={0:'year', 1:'school',2:'principal_id',3:'grade_level',4:'teacher_id',5:'cohort_id'})
# school_data
# school_update = school_data.drop(school_data[(school_data['school']=='Brown Bear Middle School') & (
#     school_data['grade_level']<=5)].index)

# school_update_2 = school_data.drop(school_data[(school_data['school']!='Brown Bear Middle School') & (
#     school_data['grade_level']>=6)].index) 
# school_update_2.head()

# school_update_2.to_csv('school_update.csv')

In [76]:
def make_emails(name_tuples):
    '''Create email with first initial last name'''
    e_list=[]
    for name in name_tuples:
        first_initial = name[0][0]
        last_name = name[1]
        email = (f'{first_initial}{last_name}@riversschooldistrict.org').lower()
        e_list.append(email)
    return e_list


name_tuples = list(zip(staff_df.staff_first, staff_df.staff_last))

staff_emails = make_emails(name_tuples)

staff_df['email'] = staff_emails

print("Shape of data{}".format(staff_df.shape))
staff_df.to_csv('staff_table.csv')

Shape of data(70, 6)

### Students <a id="v2_2_2"></a>

Fake students, ids, scores and classrooms assignments

In [45]:
student_names = []
for i in range(850):
    name = f'{fake.first_name()} {fake.last_name()}'
    student_names.append(name)

In [96]:
elementary_schools = school_names[1:]
middle_schools = [school_names[0], school_names[-1]] 
all_cohorts = list(range(12))

#creating a dict of fake students. Each will be associated with a cohort and school(s?). Anyone grades 6-8 should be in one of two schools.
def make_students(num):
    '''Make list of fake students'''
    school_list = school_names
    fake_students = [{'student_id': x+10000,
        'student_name':(student_names[x]),
        'school_1':np.random.choice(elementary_schools, p=[0.2,0.1,0.1,0.1,0.3,0.2]),
        'school_2':'Brown Bear Middle School',
        'cohort': np.random.choice(all_cohorts)
    } for x in range(num)]
    
    return fake_students

students_df = pd.DataFrame(make_students(850))

students_cross = pd.crosstab(students_df.school_1, students_df.cohort)
students_cross
#ok, so we have cohorts and schools in here. to make a class roster, we need to combine this table with the classes/schools table

students_df.iloc[3:6,0:2] #3 rows, 2 columns

#THIS IS THE SYNTAX FOR COLUMN VALUES -- I need to make a cheat sheet/map for Pandas
# cohorts_first_six = school_update_2.loc[(school_update_2['cohort_id'] <= 5)]
students_df

,student_id,student_name,school_1,school_2,cohort
0,10000,Sean Simon,State Street Elementary School,Brown Bear Middle School,7
1,10001,Robert Gomez,State Street Elementary School,Brown Bear Middle School,10
2,10002,Natasha Foster,State Street Elementary School,Brown Bear Middle School,5
3,10003,Lisa Kline,Cherry Tree Elementary School,Brown Bear Middle School,6
4,10004,Daniel Robinson,Mulberry Elementary School,Brown Bear Middle School,4
...,...,...,...,...,...
845,10845,Bradley Allen,Sunny Elementary School,Brown Bear Middle School,5
846,10846,Jacqueline Tucker,State Street Elementary School,Brown Bear Middle School,5
847,10847,Joseph Gonzalez,State Street Elementary School,Brown Bear Middle School,10
848,10848,Melissa Hahn,Dunns Corners Elementary School,Brown Bear Middle School,7
849,10849,Mandy Morgan,Cherry Tree Elementary School,Brown Bear Middle School,4

In [88]:
#join students_df with schools_df 
#schools_df currently only has cohorts 0-8 should make function to create classrosters

# def create_rosters(df_1,df_2):
#     # if df_2.cohort <= 5

# #also need to add a function for adding school years and moving up grades. Might start there?

# def add_years():
schools_df

,school,principal_id,grade_level,teacher_id,cohort_id,cohort_id
0,2021,Brown Bear Middle School,1066,0,1069,8
1,2021,Brown Bear Middle School,1066,1,1068,7
2,2021,Brown Bear Middle School,1066,2,1067,6
3,2021,Brown Bear Middle School,1066,3,1064,5
4,2021,Brown Bear Middle School,1066,4,1063,4
...,...,...,...,...,...,...
58,2021,Bene Gesserit School,1007,4,1019,4
59,2021,Bene Gesserit School,1007,5,1018,3
60,2021,Bene Gesserit School,1007,6,1051,2
61,2021,Bene Gesserit School,1007,7,1050,1
62,2021,Bene Gesserit School,1007,8,1049,0

#### Student Cohorts

One of the biggest issues in my work that inspired me to take this course was that all of these specialized tools that we were using/creating/considering all lacked the ability to look at student performance year over year. Initially, I thought the solution might be to create cohorts almost like identifying students by their graduation year, where the cohort would be associated with a different grade each year. Ultimately, I found this was like an association table with more steps. It may be useful in some contexts, but I ended up finding it over complicated.

In [79]:
from itertools import islice


# total_classes = schools_df['class_id'].sum() #168
# total_students = student_df['student_id'].count() #850
# #800 students in list, between 6 & 12 kids per class,42 classes per year 

#create student cohorts >> cohorts are all students in a grade level in a year
#in year 1, there will be a cohort for 0-5 spread across 6 schools = 6, plus 6-8 =9,  Then three more cohorts will enter for a total of 12
850/12 #70

student_id_list = students_df['student_id'].sort_values()
student_id_list

# #create cohorts of around 70

cohort_size_list = [np.random.randint(60,80) for i in range(12)]

np.sum(cohort_size_list) #should be less than 850
cohort_size_list

def group_cohorts(input, length_to_split):
    '''Split list of student ids into cohorts of varying sizes.'''
    
    inputt = iter(input)
    output = [list(islice(inputt, elem))
              for elem in length_to_split]
    # Printing Output 
    return output

cohort_groups = group_cohorts(student_id_list, cohort_size_list)
cohort_size_list

def enum():
    dict = {}
    for count, value in enumerate(cohort_groups):
        dict[count]={
            'cohort':value
        }
    return dict

cohort_nums = enum()
cohort_nums

{0: {'cohort': [10000,
   10001,
   10002,
   10003,
   10004,
   10005,
   10006,
   10007,
   10008,
   10009,
   10010,
   10011,
   10012,
   10013,
   10014,
   10015,
   10016,
   10017,
   10018,
   10019,
   10020,
   10021,
   10022,
   10023,
   10024,
   10025,
   10026,
   10027,
   10028,
   10029,
   10030,
   10031,
   10032,
   10033,
   10034,
   10035,
   10036,
   10037,
   10038,
   10039,
   10040,
   10041,
   10042,
   10043,
   10044,
   10045,
   10046,
   10047,
   10048,
   10049,
   10050,
   10051,
   10052,
   10053,
   10054,
   10055,
   10056,
   10057,
   10058,
   10059,
   10060,
   10061,
   10062,
   10063,
   10064,
   10065]},
 1: {'cohort': [10066,
   10067,
   10068,
   10069,
   10070,
   10071,
   10072,
   10073,
   10074,
   10075,
   10076,
   10077,
   10078,
   10079,
   10080,
   10081,
   10082,
   10083,
   10084,
   10085,
   10086,
   10087,
   10088,
   10089,
   10090,
   10091,
   10092,
   10093,
   10094,
   10095,
   10096,
   10097,
   10098,
   10099,
   10100,
   10101,
   10102,
   10103,
   10104,
   10105,
   10106,
   10107,
   10108,
   10109,
   10110,
   10111,
   10112,
   10113,
   10114,
   10115,
   10116,
   10117,
   10118,
   10119,
   10120,
   10121,
   10122,
   10123,
   10124,
   10125,
   10126,
   10127,
   10128,
   10129,
   10130]},
 2: {'cohort': [10131,
   10132,
   10133,
   10134,
   10135,
   10136,
   10137,
   10138,
   10139,
   10140,
   10141,
   10142,
   10143,
   10144,
   10145,
   10146,
   10147,
   10148,
   10149,
   10150,
   10151,
   10152,
   10153,
   10154,
   10155,
   10156,
   10157,
   10158,
   10159,
   10160,
   10161,
   10162,
   10163,
   10164,
   10165,
   10166,
   10167,
   10168,
   10169,
   10170,
   10171,
   10172,
   10173,
   10174,
   10175,
   10176,
   10177,
   10178,
   10179,
   10180,
   10181,
   10182,
   10183,
   10184,
   10185,
   10186,
   10187,
   10188,
   10189,
   10190,
   10191,
   10192,
   10193,
   10194,
   10195,
   10196,
   10197,
   10198,
   10199,
   10200,
   10201,
   10202,
   10203,
   10204,
   10205,
   10206,
   10207,
   10208]},
 3: {'cohort': [10209,
   10210,
   10211,
   10212,
   10213,
   10214,
   10215,
   10216,
   10217,
   10218,
   10219,
   10220,
   10221,
   10222,
   10223,
   10224,
   10225,
   10226,
   10227,
   10228,
   10229,
   10230,
   10231,
   10232,
   10233,
   10234,
   10235,
   10236,
   10237,
   10238,
   10239,
   10240,
   10241,
   10242,
   10243,
   10244,
   10245,
   10246,
   10247,
   10248,
   10249,
   10250,
   10251,
   10252,
   10253,
   10254,
   10255,
   10256,
   10257,
   10258,
   10259,
   10260,
   10261,
   10262,
   10263,
   10264,
   10265,
   10266,
   10267,
   10268,
   10269,
   10270,
   10271,
   10272]},
 4: {'cohort': [10273,
   10274,
   10275,
   10276,
   10277,
   10278,
   10279,
   10280,
   10281,
   10282,
   10283,
   10284,
   10285,
   10286,
   10287,
   10288,
   10289,
   10290,
   10291,
   10292,
   10293,
   10294,
   10295,
   10296,
   10297,
   10298,
   10299,
   10300,
   10301,
   10302,
   10303,
   10304,
   10305,
   10306,
   10307,
   10308,
   10309,
   10310,
   10311,
   10312,
   10313,
   10314,
   10315,
   10316,
   10317,
   10318,
   10319,
   10320,
   10321,
   10322,
   10323,
   10324,
   10325,
   10326,
   10327,
   10328,
   10329,
   10330,
   10331,
   10332,
   10333,
   10334,
   10335,
   10336,
   10337,
   10338,
   10339,
   10340,
   10341,
   10342,
   10343,
   10344,
   10345,
   10346,
   10347,
   10348]},
 5: {'cohort': [10349,
   10350,
   10351,
   10352,
   10353,
   10354,
   10355,
   10356,
   10357,
   10358,
   10359,
   10360,
   10361,
   10362,
   10363,
   10364,
   10365,
   10366,
   10367,
   10368,
   10369,
   10370,
   10371,
   10372,
   10373,
   10374,
   10375,
   10376,
   10377,
   10378,
   10379,
   10380,
   10381,
   10382,
   10383,
   10384,
   10385,
   10386,
   10387,
   10388,
   10389,
   10390,
   10391,
   10392,
   10393,
   10394,
   10395,
   10396,
   10397,
   10398,
   10399,
   10400,
   10401,
   10402,
   10403,
   10404,
   10405,
   10406,
   10407,
   10408,
   10409,
   10410,
   10411,
   10412,
   10413,
   10414]},
 6: {'cohort': [10415,
   10416,
   10417,
   10418,
   10419,
   10420,
   10421,
   10422,
   10423,
   10424,
   10425,
   10426,
   10427,
   10428,
   10429,
   10430,
   10431,
   10432,
   10433,
   10434,
   10435,
   10436,
   10437,
   10438,
   10439,
   10440,
   10441,
   10442,
   10443,
   10444,
   10445,
   10446,
   10447,
   10448,
   10449,
   10450,
   10451,
   10452,
   10453,
   10454,
   10455,
   10456,
   10457,
   10458,
   10459,
   10460,
   10461,
   10462,
   10463,
   10464,
   10465,
   10466,
   10467,
   10468,
   10469,
   10470,
   10471,
   10472,
   10473,
   10474,
   10475,
   10476]},
 7: {'cohort': [10477,
   10478,
   10479,
   10480,
   10481,
   10482,
   10483,
   10484,
   10485,
   10486,
   10487,
   10488,
   10489,
   10490,
   10491,
   10492,
   10493,
   10494,
   10495,
   10496,
   10497,
   10498,
   10499,
   10500,
   10501,
   10502,
   10503,
   10504,
   10505,
   10506,
   10507,
   10508,
   10509,
   10510,
   10511,
   10512,
   10513,
   10514,
   10515,
   10516,
   10517,
   10518,
   10519,
   10520,
   10521,
   10522,
   10523,
   10524,
   10525,
   10526,
   10527,
   10528,
   10529,
   10530,
   10531,
   10532,
   10533,
   10534,
   10535,
   10536,
   10537,
   10538,
   10539,
   10540,
   10541,
   10542,
   10543,
   10544,
   10545,
   10546]},
 8: {'cohort': [10547,
   10548,
   10549,
   10550,
   10551,
   10552,
   10553,
   10554,
   10555,
   10556,
   10557,
   10558,
   10559,
   10560,
   10561,
   10562,
   10563,
   10564,
   10565,
   10566,
   10567,
   10568,
   10569,
   10570,
   10571,
   10572,
   10573,
   10574,
   10575,
   10576,
   10577,
   10578,
   10579,
   10580,
   10581,
   10582,
   10583,
   10584,
   10585,
   10586,
   10587,
   10588,
   10589,
   10590,
   10591,
   10592,
   10593,
   10594,
   10595,
   10596,
   10597,
   10598,
   10599,
   10600,
   10601,
   10602,
   10603,
   10604,
   10605,
   10606,
   10607,
   10608,
   10609,
   10610,
   10611,
   10612,
   10613,
   10614,
   10615,
   10616,
   10617,
   10618,
   10619,
   10620]},
 9: {'cohort': [10621,
   10622,
   10623,
   10624,
   10625,
   10626,
   10627,
   10628,
   10629,
   10630,
   10631,
   10632,
   10633,
   10634,
   10635,
   10636,
   10637,
   10638,
   10639,
   10640,
   10641,
   10642,
   10643,
   10644,
   10645,
   10646,
   10647,
   10648,
   10649,
   10650,
   10651,
   10652,
   10653,
   10654,
   10655,
   10656,
   10657,
   10658,
   10659,
   10660,
   10661,
   10662,
   10663,
   10664,
   10665,
   10666,
   10667,
   10668,
   10669,
   10670,
   10671,
   10672,
   10673,
   10674,
   10675,
   10676,
   10677,
   10678,
   10679,
   10680,
   10681,
   10682,
   10683,
   10684,
   10685,
   10686,
   10687,
   10688,
   10689,
   10690,
   10691,
   10692,
   10693,
   10694]},
 10: {'cohort': [10695,
   10696,
   10697,
   10698,
   10699,
   10700,
   10701,
   10702,
   10703,
   10704,
   10705,
   10706,
   10707,
   10708,
   10709,
   10710,
   10711,
   10712,
   10713,
   10714,
   10715,
   10716,
   10717,
   10718,
   10719,
   10720,
   10721,
   10722,
   10723,
   10724,
   10725,
   10726,
   10727,
   10728,
   10729,
   10730,
   10731,
   10732,
   10733,
   10734,
   10735,
   10736,
   10737,
   10738,
   10739,
   10740,
   10741,
   10742,
   10743,
   10744,
   10745,
   10746,
   10747,
   10748,
   10749,
   10750,
   10751,
   10752,
   10753,
   10754,
   10755]},
 11: {'cohort': [10756,
   10757,
   10758,
   10759,
   10760,
   10761,
   10762,
   10763,
   10764,
   10765,
   10766,
   10767,
   10768,
   10769,
   10770,
   10771,
   10772,
   10773,
   10774,
   10775,
   10776,
   10777,
   10778,
   10779,
   10780,
   10781,
   10782,
   10783,
   10784,
   10785,
   10786,
   10787,
   10788,
   10789,
   10790,
   10791,
   10792,
   10793,
   10794,
   10795,
   10796,
   10797,
   10798,
   10799,
   10800,
   10801,
   10802,
   10803,
   10804,
   10805,
   10806,
   10807,
   10808,
   10809,
   10810,
   10811,
   10812,
   10813,
   10814,
   10815,
   10816,
   10817,
   10818,
   10819,
   10820,
   10821]}}

In [94]:
'''Assign each cohort to a grade level
in the first year, the first 9 cohorts are assigned to a grade
in the next year, the cohorts move up a grade and a new cohort enters prek
2021 - cohorts 0-8 | 2022 - cohorts 9,0-7, 2023 - cohorts 9,10,0-6, 2024 = cohorts 9-11,0-5
'''
cohorts_df = pd.DataFrame(cohort_groups, dtype='Int64')


cohorts_dict =cohorts_df.to_dict('index')
coh_nums = [i for i in cohorts_dict.keys()] #list


# cohorts            0   1   2   3   4   5   6   7   8 || 9   0   1   2   3   4   5   6   7 || 9   10  0   1   2   3   4   5  6 ||9  10  11   0   1   2   3   4  5 |
# grade_level        0   1   2   3   4   5   6   7   8 || 0   1   2   3   4   5   6   7   8 || 0   1   2   3   4   5   6   7  8 ||0   1   2   3   4   5   6   7  8 |   
# year               |--------------2021---------------||--------------2022-----------------||--------------2023----------------||--------------2024---------------|

# year range 4, grades range 9  
# i = cohort[-1], cohort[0] = sum(i+1), cohort.pop(i) <pointer/node     
#input > schools_df, elements = year, grade_level


cohorts_df = cohorts_df.transpose()
school_update_2
start_year = 2021
grades
years
school

[2021, 2022, 2023, 2024]

In [156]:
#decided to merge fake data with old score data to simplify/keep work already done <<< Changed my mind.
scores_df = pd.read_csv('assessment_scores.csv', dtype={
    'year':'int64',
    'period':'int64',
    'grade':'int64',
    'student_score':'float64',
    'assessment_id':'string',
    'student_id':'int64'
})

scores_df = scores_df.drop(columns=['old_id', 'Unnamed: 8','Unnamed: 9'])
# new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

scores_df = scores_df.merge(school_data, how='inner',left_on=['school','year','grade'],right_on=['school','year','grade_level'])
scores_df =scores_df.drop(columns=['school', 'grade_level'])

#backing up, create all new score data for fake data set
scores_data_var = scores_df.groupby(['assessment_id'], as_index=False).mean(numeric_only=True).round()[['assessment_id','student_score']]

score_avgs = scores_df.groupby(['assessment_id','period'], as_index=False).describe()[['assessment_id','period','student_score']]

score_avgs.loc[:10]

ValueError: You are trying to merge on int64 and object columns for key 'year'. If you wish to proceed you should use pd.concat

## Assessment Information <a id="v2_3"></a>

In [ ]:
#importing assessment data (real assessments and standards!)

assessments_df = pd.read_csv('exports/assessments.csv')
# assessments_df

# assessment_standards_df = pd.read_csv('assessment_standards.csv')
# assessment_standards_df.head()

# #changing case and names for consistency
# assessment_standards_df=assessment_standards_df.rename(columns={
#     'AssessmentStandardID':'standard_id', 
#     'RankName':'rank_name',
#     'RankScore':'rank_score',
#     'AssessmentId':'assessment_id',
#     'PeriodId':'period_id',
#     'GradeLevelId':'grade_id'})
# #inplace=True doesn't work here

# assessment_standards_df

# assessments_df=assessments_df.rename(columns={
#     'AssessmentId':'assessment_id',
#     'AssessmentName':'assessment_name',
#     'ShortAssessmentName':'assessment_short_name',
#     'AssessmentFamily':'assessment_family',
#     'AssessmentType':'assessment_type',
#     'AcademicSubject':'assessment_subject',
#     'ContentStandard':'content_standard'
# })
# assessments_df_copy = assessments_df

# assessments_df = assessments_df.merge(assessment_standards_df, how='inner', on='assessment_id')

assessments_df

,Unnamed: 0,assessment_id,assessment_name,assessment_short_name,assessment_family,assessment_type,assessment_subject,content_standard,standard_id,rank_name,rank_score,period_id,grade_id
0,0,AWAV,Auditory Vocabulary,AV,Aimsweb Plus,Benchmark,Literacy,National,1,Tier I,16.2,1,0
1,1,AWAV,Auditory Vocabulary,AV,Aimsweb Plus,Benchmark,Literacy,National,2,Tier I,19.5,3,0
2,2,AWAV,Auditory Vocabulary,AV,Aimsweb Plus,Benchmark,Literacy,National,3,Tier I,17.7,2,0
3,3,AWAV,Auditory Vocabulary,AV,Aimsweb Plus,Benchmark,Literacy,National,4,Tier I,19.9,1,1
4,4,AWAV,Auditory Vocabulary,AV,Aimsweb Plus,Benchmark,Literacy,National,5,Tier I,21.8,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
484,484,PNOAEQ,Equality,EQ,Primary Number & Operations Assessment,Diagnostic,Math,State,172,Tier I,3.0,2,1
485,485,PNOAEQ,Equality,EQ,Primary Number & Operations Assessment,Diagnostic,Math,State,343,Tier II,9.0,3,1
486,486,PNOAEQ,Equality,EQ,Primary Number & Operations Assessment,Diagnostic,Math,State,344,Tier II,5.0,2,1
487,487,PNOAEQ,Equality,EQ,Primary Number & Operations Assessment,Diagnostic,Math,State,515,Tier III,12.0,3,1
488,488,PNOAEQ,Equality,EQ,Primary Number & Operations Assessment,Diagnostic,Math,State,516,Tier III,12.0,2,1

#### Test Analysis

In [ ]:
classroom_df = pd.read_csv('new_class.csv')

classroom_df=classroom_df.drop(columns=['Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9'])
classroom_df['num_students'] = np.random.ranint()

     class_id  year                   school  grade_level  teacher
0    21-0-Ben  2021     Bene Gesserit School            0     1338
1    21-1-Ben  2021     Bene Gesserit School            1     1056
2    21-2-Ben  2021     Bene Gesserit School            2     2242
3    21-3-Ben  2021     Bene Gesserit School            3     2974
4    21-4-Ben  2021     Bene Gesserit School            4     1207
..        ...   ...                      ...          ...      ...
163  24-1-Sun  2024  Sunny Elementary School            1     1774
164  24-2-Sun  2024  Sunny Elementary School            2     1413
165  24-3-Sun  2024  Sunny Elementary School            3     1413
166  24-4-Sun  2024  Sunny Elementary School            4     1150
167  24-5-Sun  2024  Sunny Elementary School            5     1150

[168 rows x 5 columns]

In [ ]:
# importing the required module
import random

# list of items
student_id_list = list(students_df['student_id'])

# # using the sample() method
# UpdatedList = random.sample(List, 3)

# # displaying random selections from 
# # the list without repetition
# print(UpdatedList)

[2657, 2013, 2790, 2639, 1366, 2941, 2146, 1006, 2582, 2735, 2605, 2504, 1973, 1798, 1011, 1634, 2962, 1507, 1953, 2125, 1891, 1776, 1314, 2288, 1476, 2968, 2852, 2928, 2247, 2134, 1983, 1064, 1472, 1846, 2388, 1201, 2806, 1154, 1324, 1749, 1155, 2006, 2502, 1093, 2627, 1182, 2865, 1005, 1166, 1224, 1690, 1691, 2823, 2590, 1205, 2165, 2732, 1458, 1860, 2766, 1500, 2753, 2840, 2095, 2116, 2656, 2325, 2994, 2311, 1149, 2662, 1072, 1835, 1985, 2651, 1548, 1352, 1920, 2653, 1791, 1147, 1567, 2307, 2466, 2141, 1393, 2872, 1085, 1060, 2758, 1088, 2248, 1220, 2355, 2607, 1330, 1742, 1737, 2245, 2086, 1074, 1217, 2263, 1119, 1207, 2844, 1605, 2634, 1157, 1074, 2330, 2777, 1312, 1177, 2060, 2669, 2970, 2985, 1541, 1309, 1508, 1587, 1854, 1628, 2406, 1217, 1247, 1366, 2474, 2765, 1005, 1021, 1152, 1325, 2504, 1554, 1330, 1162, 2629, 2129, 2649, 2295, 2830, 1266, 1252, 2068, 2482, 2391, 2430, 2739, 2389, 2932, 2600, 1758, 2120, 1580, 1977, 1478, 2136, 1658, 2017, 1704, 1767, 1922, 1468, 1853, 2743, 1858, 2638, 2931, 2543, 2012, 1376, 2997, 1139, 1798, 1400, 2944, 1467, 2792, 2320, 2085, 1316, 2753, 1308, 1819, 1928, 2242, 1461, 1117, 1961, 1379, 2525, 2150, 2647, 2915, 1434, 2923, 2792, 2837, 2972, 1496, 2995, 2228, 1689, 1687, 2269, 1224, 1007, 2442, 1558, 1090, 2114, 1235, 2903, 2773, 1521, 2700, 1699, 1613, 1019, 2038, 2828, 1569, 1169, 1439, 1021, 1043, 2081, 2971, 1984, 2157, 1129, 2440, 1262, 2866, 2791, 2096, 2531, 2697, 1056, 2510, 1625, 1246, 1330, 1265, 2912, 1273, 1588, 1101, 1451, 1650, 1369, 2186, 2317, 2475, 1295, 2960, 2075, 2970, 2669, 2252, 1173, 1938, 2993, 2957, 1617, 1353, 2471, 1364, 2689, 1372, 2633, 1973, 2456, 1804, 2470, 2740, 2622, 1216, 1109, 2162, 1916, 2250, 2711, 2290, 2683, 1039, 1704, 1450, 2586, 1075, 2898, 1571, 1504, 1161, 2101, 2152, 2482, 1679, 2662, 1372, 2597, 1801, 2063, 2292, 1222, 2775, 2122, 1532, 1114, 2811, 2905, 1070, 1394, 1090, 1420, 1708, 2298, 1746, 2909, 2908, 1778, 2532, 2024, 2502, 2042, 2505, 1958, 2942, 2313, 2921, 2136, 1712, 1092, 2975, 1635, 1350, 2847, 2941, 1954, 1247, 1139, 1704, 1643, 1274, 1122, 1932, 1138, 1755, 1324, 2894, 1638, 1874, 1037, 2323, 1133, 1325, 2876, 2922, 2088, 2865, 1289, 2921, 2478, 1953, 2482, 2029, 2693, 2981, 1908, 1834, 1214, 2752, 1022, 1806, 2994, 2794, 2268, 1999, 2816, 2542, 1880, 1330, 2919, 1054, 2697, 1103, 1152, 2907, 1648, 2146, 2794, 1044, 2323, 2961, 1114, 2573, 1371, 2914, 2724, 2089, 1524, 2716, 2224, 1255, 2279, 2723, 1115, 1393, 1591, 1118, 2012, 2245, 1170, 2641, 1164, 1379, 2734, 1840, 2354, 1568, 2551, 2962, 2517, 1826, 2818, 2055, 1023, 2382, 2724, 2553, 2217, 1813, 1441, 1617, 2789, 2914, 1577, 1394, 1420, 1463, 2441, 1614, 2661, 2866, 1926, 1208, 2346, 2160, 2155, 1941, 1229, 2183, 1666, 2004, 1730, 1188, 1010, 1069, 1314, 1130, 2043, 1697, 1082, 2583, 1032, 2228, 1565, 1215, 2135, 1182, 2417, 2973, 2667, 2953, 2183, 2447, 2171, 2250, 2885, 2158, 1219, 2442, 1006, 1443, 1339, 2716, 1587, 2644, 1105, 1057, 2995, 2588, 2689, 2752, 1184, 2425, 1030, 2645, 2617, 2098, 2823, 2159, 2383, 2659, 1613, 2181, 2830, 1771, 1876, 2268, 2586, 2708, 2693, 2657, 1569, 2755, 1801, 1021, 1564, 1407, 1970, 2778, 1462, 1783, 1666, 1569, 2483, 1780, 2302, 2978, 2885, 2410, 2864, 2318, 1788, 1006, 1529, 2602, 2731, 2677, 1800, 1181, 2841, 1329, 2187, 1796, 2565, 2093, 2460, 1125, 2099, 2148, 2586, 2816, 2025, 1201, 2380, 2101, 1603, 2147, 2214, 2552, 1179, 2688, 1819, 1102, 1683, 2014, 1189, 2190, 2183, 2618, 2941, 1270, 1274, 2321, 1792, 1425, 2459, 1383, 1153, 1282, 2189, 2437, 2409, 1711, 2499, 2244, 1889, 2936, 2162, 2849, 1836, 2154, 2988, 2523, 2280, 2773, 1334, 2635, 1839, 1633, 2351, 2188, 2613, 1821, 1776, 1818, 1390, 1542, 2348, 2821, 1187, 2089, 2877, 1373, 2365, 2456, 1741, 1952, 1345, 2178, 2223, 1983, 2783, 1078, 1251, 2039, 2180, 1782, 1028, 1915, 1108, 1927, 1533, 2879, 1898, 1568, 1881, 1322, 1742, 1089, 1881, 1173, 1390, 1697, 1651, 1786, 2915, 1563, 2230, 2267, 2422, 2794, 2513, 2281, 1712, 1321, 1898, 1919, 2372, 1034, 2848, 2863, 2934, 2434, 2451, 2032, 2034, 2890, 1964, 1781, 1913, 2673, 2861, 2769, 1961, 1662, 2766, 2475, 2443, 1142, 1418, 2405, 2004, 1211, 1271, 1670, 2847, 1102, 2343, 2154, 2357, 1082, 2816, 2472, 1984, 1003, 2185, 2114, 1068, 1169, 2354, 1798, 1323, 1059, 1622, 1478, 1463, 1095, 2038, 2547, 1508, 1331, 1115, 2034, 2467, 1890, 2008, 1999, 2231, 2259, 1605, 2871, 2214, 2619, 1903, 2466, 2035, 1410, 1915, 2556, 1270, 2326, 2537, 2334, 2066, 1026, 1446, 1191, 2909, 2623, 1776, 2064, 1468, 1081, 2594, 1077, 1910, 2403, 2298, 1076, 2106, 1102, 2119, 1619, 1027, 1221, 1248, 1867, 1192, 2218, 1533, 1118, 2146, 1926, 2308, 2940, 1281, 1834, 2442, 2917, 1421, 1049, 2029, 1168, 2343, 2892, 2317, 2340, 2134, 1586, 1357, 2434, 2638, 1114, 1363, 2739, 1325, 1091, 2939, 2487, 1458, 1507, 2713, 2827, 1904, 1856, 2951, 1401, 2163, 1048, 1787, 1271, 1841, 1066, 1014, 2554, 1491, 1101, 1972, 1404, 2123, 1065, 1968, 1069, 1889, 1393, 2387, 1348, 1400, 2414, 1508, 2135, 2948, 1732, 1187, 1672, 1988, 1752, 1519, 1325, 2624, 2191, 1043, 1119, 1246, 2794, 1216, 2297, 1235, 1006, 2666, 2351, 2825, 2619, 1708, 2342]